<h1><%= @restaurant.name %></h1>
<%= @restaurant.category.capitalize %>
<p><%= @restaurant.address %> | <%= @restaurant.phone_number %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>(<%= review.rating %>) <%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'New Review', new_restaurant_review_path(@restaurant) %>
